<div class='container'>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">CoronaGuessing</a>
      <button class="nav-link" (click)="apiService.deleteUser()" class="btn btn-outline-danger my-2 my-sm-0" *ngIf="auth.isLoggedIn()">Delete profile</button>
      <button class="nav-link" routerLink="/edit" routerLinkActive="active" class="btn btn-outline-success my-2 my-sm-0" *ngIf="auth.isLoggedIn()">Edit profile</button>
      <button *ngIf="!auth.isLoggedIn()" routerLink="/login" routerLinkActive="active" class="btn btn-outline-success my-2 my-sm-0" type="button">Login</button>
      <button routerLink="/home" routerLinkActive="active" class="btn btn-outline-success my-2 my-sm-0" type="button">Home</button>
      <button *ngIf="auth.isLoggedIn()" class="btn btn-outline-danger my-2 my-sm-0" (click)="auth.logout()" type="button">Logout</button>
  </nav>
  <div class="container text-center">
    <router-outlet></router-outlet>
  </div>
</div>